force-app/main/default/flows/Currency_Converter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Currency</name>
        <label>Convert Currency</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>CurrencyConverterUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Output</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>requestObject.amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromCode</name>
            <value>
                <elementReference>requestObject.fromCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toCode</name>
            <value>
                <elementReference>requestObject.toCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrencyConverterUtils</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>convertedAmouint</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assignment_to_request_object</name>
        <label>Assignment to request object</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>requestObject.fromCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_From</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestObject.toCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_To</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestObject.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Currency</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Currency Converter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Currency Converter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Currency_Converter</name>
        <label>Currency Converter</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_to_request_object</targetReference>
        </connector>
        <fields>
            <name>Currency_Converter_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Currency_Converter_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Convert_From</name>
                    <dataType>String</dataType>
                    <fieldText>Convert From</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Currency_Converter_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Convert_To</name>
                    <dataType>String</dataType>
                    <fieldText>Convert To</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Currency_Converter_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Currency_Converter_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Output</name>
        <label>Display Output</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Output_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Output_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>enteredValues</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;From&lt;/strong&gt;: {!Convert_From}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;To&lt;/strong&gt;: {!Convert_To}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Amount&lt;/strong&gt;: {!Amount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_Output_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Output_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>result</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Converted Amount: &lt;/strong&gt;{!Amount} &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Convert_From}&lt;/span&gt; is {!convertedAmouint} &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Convert_To}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Currency_Converter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>convertedAmouint</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>requestObject</name>
        <apexClass>CurrencyConverterWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
